:root {
  --white: #FFFFFF;

  --blue-300: #22272E;
  --blue-500: #1C2128;

  --purple-500: #654EA3;

  --radius-8: 8px;

  --bg-color: #22272E;

  --title: var(--font-exo2);
  --default: var(--font-nunito);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--white);
  font-family: var(--font-nunito);
  background-color: var(--bg-color);
  padding: 90px 24px 24px;

  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.mainContainer {
  max-width: 41.5rem;
  width: 100%;
  margin: 0 auto;
  flex: 1;
}

body::-webkit-scrollbar {
  width: 8px;
}
 
body::-webkit-scrollbar-track {
  background-color: var(--blue-500);
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--purple-500);
}
